{
  "extends": [
    "eslint-config-airbnb"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "experimentalObjectRestSpread": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "babel"
  ],
  "rules": {
    "no-console": 2,
    "no-alert": 2,
    "constructor-super": 2,
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "eqeqeq": [
      2,
      "allow-null"
    ],
    "id-length": 0,
    "max-len": [
      2,
      120,
      4
    ],
    "no-eq-null": 0,
    "one-var": [
      2,
      {
        "initialized": "never"
      }
    ],
    "prefer-const": 2,
    "no-var": 2,
    "no-path-concat": 2,
    "no-this-before-super": 2,
    "babel/object-shorthand": 2,
    "react/prefer-stateless-function": 1,
    "react/jsx-boolean-value": 2,
    "react/jsx-space-before-closing": [
      2,
      "never"
    ],
    "react/jsx-no-duplicate-props": 2,
    "react/sort-comp": 0,
    "react/prop-types": [
      2,
      {
        "ignore": [
          "children",
          "className",
          "style",
          "bsStyle",
          "bsClass",
          "bsSize"
        ]
      }
    ],
    "spaced-comment": [
      2,
      "always",
      {
        "line": {
          "exceptions": [
            "*"
          ]
        }
      }
    ]
  }
}