ac-comphist.dat
auto-save-list/
projectile-bookmarks.eld
node_modules/
.mc-lists.el
oauth2.plstore
elpa
emojis
transient
session.*
eln-cache
projects
readme.el
recentf
elpa-old
straight
.cache
.cask
projectile.cache
request
tramp
url
hackernews
places